.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.footerLayout{
  display: flex;
  justify-content: center;
  background: #7EB4C1;
  padding: 10px;
  padding-bottom: 20px;
  gap: 50px;
}
